[workspace]
members  = ["crates/*"]
resolver = "2"

[workspace.dependencies]
num-bigint = "0.4.6"
oxc_index  = "4.1.0"

proc-macro2 = "1"
quote       = "1"
syn         = { version = "2", default-features = false }

swc_atoms  = "7.0.0"
swc_common = "15.0.0"

rspack_experimental_swc_ast_macros  = { path = "crates/rspack_experimental_swc_ast_macros" }
rspack_experimental_swc_ecma_ast    = { path = "crates/rspack_experimental_swc_ecma_ast" }
rspack_experimental_swc_ecma_parser = { path = "crates/rspack_experimental_swc_ecma_parser" }
