[workspace]
members  = ["crates/*", "tasks/ast_tools"]
resolver = "2"

[workspace.dependencies]
bitflags         = "2"
either           = "1.10.0"
num-bigint       = "0.4.6"
oxc_index        = "4.1.0"
rustc-hash       = "2"
seq-macro        = "0.3.6"
smartstring      = "1.0.1"
stacker          = "0.1.15"
tracing          = "0.1.41"
unicode-id-start = "1.3.1"

# SWC
swc_atoms  = "9.0.0"
swc_common = "17.0.0"

# Ast tool
convert_case = "0.8.0"
indexmap     = "2.12.0"
phf          = "0.13.1"
prettyplease = "0.2"
proc-macro2  = "1"
quote        = "1"
syn          = { version = "2", default-features = false }

# Workspace
rspack_experimental_swc_ast_macros  = { path = "crates/swc_ast_macros" }
rspack_experimental_swc_ecma_ast    = { path = "crates/swc_ecma_ast" }
rspack_experimental_swc_ecma_parser = { path = "crates/swc_ecma_parser" }
