[workspace]
members  = ["crates/*", "tasks/ast_tools"]
resolver = "2"

[workspace.dependencies]
num-bigint = "0.4.6"
oxc_index  = "4.1.0"

indexmap     = "2.12.0"
prettyplease = "0.2"
proc-macro2  = "1"
quote        = "1"
syn          = { version = "2", default-features = false }

convert_case = "0.8.0"
swc_atoms    = "7.0.0"
swc_common   = "15.0.0"

rspack_experimental_swc_ast_macros  = { path = "crates/swc_ast_macros" }
rspack_experimental_swc_ecma_ast    = { path = "crates/swc_ecma_ast" }
rspack_experimental_swc_ecma_parser = { path = "crates/swc_ecma_parser" }
